*{
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

/* -------------------
  navigation bar
--------------------- */
header{
    width: 85%;
    margin-bottom: 100px;
    margin-top: 20px;
}

.nav-bar{
    display: flex;
    align-items: center;
}

.tag-head{
    width: 60%;
}

.tag-head-description{
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
}

.nav{
    display: flex;
    float: right;
}

.nav-element{
    margin-left: 33px;
}

.nav a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
}

/* -------------------
        banner
--------------------- */
.container{
    display: flex;
}

.container-description{
    width: 50%;
}

.banner-head{
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.banner-description{
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.banner-btn{
    background-color: #E02C6D;
    border: 0;
    border-radius: 41px;
    width: 196px;
    height: 44px;
    color: #FFFFFF;
    padding: 10px 24px;
    font-weight: 700;
    font-size: 16px;
}

.container-images{
   margin-top: 50px;
}

.circle-design{
    position: relative;
    height: 475px;
    width: 475px;
}

.main-camera{
    position: relative;
    z-index: 1;
    width: 440px;
    height: 414px;
    top: -460px;
}

/* -------------------
        logos
--------------------- */
.logos{
    position: relative;
    width: 75%;
    height: 110px;
    margin-bottom: 100px;
}

.logo{
    display: flex;
    padding: 4%;
    border: 1px solid #AAAAAA;
    border-left: 0;
    border-right: 0;
}

/* -------------------
   popular collection
--------------------- */
.collection{
    margin-bottom: 100px;
}

.collection-heading{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
    margin-bottom: 30px;
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product{
    width: 330px;
    height: 476px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 30px;
}

.product img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
    margin: 14px;
}

.product-text{
    margin-left: 14px;
}

.product-heading{
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
}

.product-price{
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}

.product-rating{
    display: flex; 
    width: 150px;   
    margin-left: 0;
}

.stars{
    display: flex;
    color: #FB8200;
    margin: 0;
}

.rating{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #5E6366;
}

.product-description{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #787885;
}

.items-btn{
    font-weight: 700;
    font-size: 16px;
    color: rgba(224, 44, 109, 0.87);
    border: none;
    background: none;
    float: right;
}

/* -------------------
        feature
--------------------- */
.feature{
    width: 1110px;
    height: 270px;      
    display: flex;
}

.feature-description{
    padding-left: 96px;
}

.feature-heading{
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
    margin-bottom: 16px;
}

.feature-paragraph{
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
    margin-bottom: 16px;
}

.feature-image img{
    width: 404px;
    height: 270px;
    border-radius: 7px;
}

.feature-btn{
    background-color: #E02C6D;
    border: 0;
    width: 155px;
    height: 44px;
    color: #FFFFFF;
    padding: 10px 24px;
    font-weight: 700;
    font-size: 16px;
}

/* -------------------
        footer
--------------------- */
footer{
    width: 100%;
    background: #0A0826;
    text-align: center;
    margin-top: 100px;
}

.footer-text{
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.footer-heading{
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 36px;
}

.footer-para{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #D9DBE1;
    line-height: 24px;
}

.socials{
    margin-top: 17px;
    margin-right: 16px;
}

.icons{
    width: 32px;
    height: 32px;
    color: #FFFFFF;
}

/* -------------------
    desk view
--------------------- */
@media screen and (min-width: 689px){
    header{
        height: 550px;
    }

    /* nav */
    .mobile-only-nav{
        display: none;
    }

    /* banner */
    .container-description{
        margin-top: 150px;
        margin-left: 0;
        height: 270px;
    }

    .container-images{
        height: 475px;
        width: 475px;
    }

    /* popular collection */
    .collection{
        width: 1047px;
        height: 1662px;
    }

    
}

/* -------------------
    mobile view
--------------------- */
@media screen and (max-width: 688px){
    header{
        margin-bottom: 50px;
        width: 100%;
        height: auto;
    }
    
    /* navigation bar */
    .tag-head{
        display: flex;
        width: 100%;
    }

    .mobile-only-nav{
        margin-left: 16px;
        margin-right: 16px;
    }

    .tag-head-description{
        font-size: 16px;
    }

    .nav-element{
        margin-left: 0;
        margin-right: 20px;
    }

    .tag-head-description{
        text-align: center;
    }

    .desk-only-nav{
        display: none;
    }

    /* banner */
    .container{
        flex-direction: column-reverse;
    }

    .container-description{ 
        width: 100%;
        text-align: center;
        margin-top: 16px;
    }

    .banner-head{
        font-size: 28px;
    }

    .banner-description{
        font-weight: 500;
        font-size: 14px;
        width: 80%;
    }

    .banner-btn{
        font-weight: 500px;
    }

    .container-images{
        margin-top: 22px;
        height: 275px;
        width: 275px;
    }

    .circle-design, .circle-design img{
        height: 257px;
        width: 257px;
    }

    .main-camera, .main-camera img{
        width: 220px;
        height: 220px;
    }

    .main-camera{
        top: -230px;
    }

    /* logos */
    .logos{
        width: 90%;
        margin-bottom: 50px;
    }

    .logo{
        border: 0;
        flex-wrap: wrap;
    
    }

    .logo img{
        width: 20%;
        height: 20%;
        padding: 5px;
        margin-bottom: 10px;
    }

    /* popular collection */
    .collection-heading{
        font-size: 16px;
        margin-bottom: 20px;
    }

    .items{
        grid-template-columns: repeat(1, 1fr);
    }

    .product{
        margin-bottom: 15px;
    }

    .product-heading{
        font-weight: 700;
        margin-bottom: 10px;
    }

    .product-price{
        font-weight: 700;
        margin-bottom: 10px;
    }

    .product-rating{
        width: 130px;
    }

    .rating{
        font-weight: 500;
    }

    .product-description{
        width: 70%;
        font-weight: 400;
        margin-top: 10px;
        margin-left: 0;
    }

    .product-description br{
        display: none;
    }

    /* feature */
    .feature{
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }

    .feature-description{
        text-align: center;
        width: 90%;
        padding: 0;
    }

    .feature-heading{
        font-size: 24px;
    }

    .feature-paragraph{
        margin-bottom: 20px;
    }

    .feature-image img{
        width: 300px;
        height: 188px;
        margin-top: 30px;
    }

    /* footer */
    footer{
        margin-top: 50px;
    }


}
